*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-box{
    width: 350px;
    height: 250px;
    position: relative;
    cursor: pointer;
    box-shadow: 6px 7px 15px #838383c4;
}

.email-box:hover{
    box-shadow: 6px 7px 15px #343333c4;
}

.traingle{
    position: absolute;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.traingle:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
    background: #3e95e1;
    z-index: 10;
}

.traingle:nth-child(2){
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
    background: #63b5fc;
    z-index: 9;
}

.traingle:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background: #52a8f4;
    z-index: 9;
}

.traingle:nth-child(4){
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    background: #469eea;
    z-index: 9;
}

.email-box:hover .traingle:nth-child(1){
    transform: translateY(-120%) rotateX(180deg);
    transform-origin: left;
    z-index: 7;
}

.paper{
    background: #ebebeb;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.25, 0.25, 1, 1);
    position: absolute;
    padding: 1em 1.5em;
}

.email-box:hover .paper{
    z-index: 8;
    transform: translateY(-40px);
}
