body{
    padding: 2%;
    background: url(../images/1.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#container{
    left: 70px;
    top: 0;
    position: fixed;
    width: 90%;
    display: block;
    transition: top 0.3s;
} 

.menu{
    position: relative;   
}

.ani-menu{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateX(10em);
    z-index: -1;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.menu:focus .ani-menu,
.menu:focus-within .ani-menu,
.menu:hover .ani-menu{
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
}

nav a{
    color: black;
    display: block;
    padding: 15px 60px;
    text-decoration: none;
    font-family: monospace;
}

.ani-menu a{
    width: 70%;
    padding: 15px 30px;
    font-family: monospace;
}

.ani-menu a:hover{
    background: #dd985c;   
}

nav a:hover{
    background: #dd985c;
}

nav ul, nav ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav > ul{
    background: #ea7c3d;
    text-align: center;
}

nav > ul > li{
    display: inline-block;
}

nav > ul > li:hover{
    border-left: 1px solid black;
}

nav > ul > li:first-child{
    border-left: none;
}

.ani-menu{
    background: #ea7c3d;
}