*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: #efb8c0;
}

.btn{
    font-size: 20px;
    font-weight: 600;
    width: 140px;
    height: 60px;
    background-color: violet;
    border-radius: 35px;
    cursor: pointer;
    transition: transform 0.4s linear;
}

.btn:hover{
    transform: scale(1.1);
    background-color: purple;
    color: white;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




